@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Sarabun', sans-serif;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Kanit', sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Ant Design DatePicker height override */
.ant-picker {
  height: 40px;
}
